@charset "UTF-8";
/* CSS Document */
/*5.4以下*/
.wp-block * { font-family: "ヒラギノ角ゴ ProN W3", Hiragino Sans, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-seri !important; font-weight: 300; }

.wp-block[data-type="core/freeform"] .mce-btn i { font-family: dashicons !important; }

.editor-post-title__input { font-weight: 500 !important; font-size: 2rem !important; line-height: 2.3rem !important; }

/*ボックスの調節*/
.editor-styles-wrapper .simple-box1, .editor-styles-wrapper .simple-box2, .editor-styles-wrapper .simple-box3, .editor-styles-wrapper .simple-box4, .editor-styles-wrapper .simple-box5, .editor-styles-wrapper .simple-box6, .editor-styles-wrapper .simple-box7, .editor-styles-wrapper .simple-box8, .editor-styles-wrapper .simple-box9, .editor-styles-wrapper .concept-box1, .editor-styles-wrapper .concept-box2, .editor-styles-wrapper .concept-box3, .editor-styles-wrapper .concept-box4, .editor-styles-wrapper .concept-box5, .editor-styles-wrapper .concept-box6 { padding-bottom: 0px !important; }

.editor-styles-wrapper .simple-box1 p, .editor-styles-wrapper .simple-box2 p, .editor-styles-wrapper .simple-box3 p, .editor-styles-wrapper .simple-box4 p, .editor-styles-wrapper .simple-box5 p, .editor-styles-wrapper .simple-box6 p, .editor-styles-wrapper .simple-box7 p, .editor-styles-wrapper .simple-box8 p, .editor-styles-wrapper .simple-box9 p, .editor-styles-wrapper .concept-box1 p, .editor-styles-wrapper .concept-box2 p, .editor-styles-wrapper .concept-box3 p, .editor-styles-wrapper .concept-box4 p, .editor-styles-wrapper .concept-box5 p, .editor-styles-wrapper .concept-box6 p { padding-bottom: 0; }

.editor-styles-wrapper .simple-box1 ul, .editor-styles-wrapper .simple-box1 ol, .editor-styles-wrapper .simple-box2 ul, .editor-styles-wrapper .simple-box2 ol, .editor-styles-wrapper .simple-box3 ul, .editor-styles-wrapper .simple-box3 ol, .editor-styles-wrapper .simple-box4 ul, .editor-styles-wrapper .simple-box4 ol, .editor-styles-wrapper .simple-box5 ul, .editor-styles-wrapper .simple-box5 ol, .editor-styles-wrapper .simple-box6 ul, .editor-styles-wrapper .simple-box6 ol, .editor-styles-wrapper .simple-box7 ul, .editor-styles-wrapper .simple-box7 ol, .editor-styles-wrapper .simple-box8 ul, .editor-styles-wrapper .simple-box8 ol, .editor-styles-wrapper .simple-box9 ul, .editor-styles-wrapper .simple-box9 ol, .editor-styles-wrapper .concept-box1 ul, .editor-styles-wrapper .concept-box1 ol, .editor-styles-wrapper .concept-box2 ul, .editor-styles-wrapper .concept-box2 ol, .editor-styles-wrapper .concept-box3 ul, .editor-styles-wrapper .concept-box3 ol, .editor-styles-wrapper .concept-box4 ul, .editor-styles-wrapper .concept-box4 ol, .editor-styles-wrapper .concept-box5 ul, .editor-styles-wrapper .concept-box5 ol, .editor-styles-wrapper .concept-box6 ul, .editor-styles-wrapper .concept-box6 ol { padding-top: 0 !important; margin-left: 0 !important; }

.editor-styles-wrapper .concept-box1, .editor-styles-wrapper .concept-box2, .editor-styles-wrapper .concept-box3, .editor-styles-wrapper .concept-box4, .editor-styles-wrapper .concept-box5, .editor-styles-wrapper .concept-box6 { padding-top: 40px !important; }

.editor-styles-wrapper .simple-box9:before { z-index: 0; }

.editor-styles-wrapper .innerlink-box1-title { padding: 13px; left: 15px; }

.concept-box1:before, .concept-box2:before, .concept-box3:before, .concept-box4:before, .concept-box5:before, .concept-box6:before, .concept-box1:after, .concept-box2:after, .concept-box3:after, .concept-box4:after, .concept-box5:after, .concept-box6:after { -webkit-box-sizing: content-box !important; box-sizing: content-box !important; }

@media (min-width: 768px) { .concept-box1:before, .concept-box2:before, .concept-box3:before, .concept-box4:before, .concept-box5:before, .concept-box6:before { font-size: 20px !important; top: -21px !important; padding: 20px 8px 20px 51px !important; } }

@media (max-width: 767px) { .concept-box1:before, .concept-box2:before, .concept-box3:before, .concept-box4:before, .concept-box5:before, .concept-box6:before { font-size: 18px !important; top: -21px !important; padding: 20px 8px 20px 32px !important; } }

.concept-box1:after, .concept-box2:after, .concept-box3:after, .concept-box4:after, .concept-box5:after, .concept-box6:after { width: 16px !important; height: 16px !important; line-height: 17px !important; }

@media (min-width: 768px) { .concept-box1:after, .concept-box2:after, .concept-box3:after, .concept-box4:after, .concept-box5:after, .concept-box6:after { left: 20px !important; top: -28px !important; padding-left: 12px !important; padding-right: 18px !important; padding-top: 13px !important; padding-bottom: 17px !important; border-radius: 40px; font-size: 1.4rem !important; } }

@media (max-width: 767px) { .concept-box1:after, .concept-box2:after, .concept-box3:after, .concept-box4:after, .concept-box5:after, .concept-box6:after { left: 12px !important; top: -23px !important; padding-left: 9px !important; padding-right: 11px !important; padding-top: 8px !important; padding-bottom: 12px !important; border-radius: 28px; font-size: 1.15rem !important; } }

/*何かいる*/
.editor-styles-wrapper ul, .editor-styles-wrapper ol { line-height: 1.4rem; }

.editor-styles-wrapper ul li, .editor-styles-wrapper ol li { display: block; margin-bottom: 0.7em !important; }

.editor-styles-wrapper ul.block-editor-block-list__block { padding-top: 0; margin-top: 0em; margin-bottom: 1.5em; list-style: none !important; }

.editor-styles-wrapper ul.block-editor-block-list__block ul { margin-top: .5em; margin-left: 0; margin-bottom: 1.5em !important; padding-left: 4px; }

.editor-styles-wrapper ul.block-editor-block-list__block ol { counter-reset: li; margin-left: 0; margin-top: .75em; margin-bottom: 1.5em !important; padding-left: .65em; }

.editor-styles-wrapper ul.block-editor-block-list__block ol li::after { counter-increment: li; content: counter(li); position: absolute; left: 0px; top: 1px; padding: 0px 0 0 0px; background: #aaa; height: 20px; width: 20px; color: #fff; text-align: center; font-size: 0.65em; border-radius: 12px; }

.editor-styles-wrapper ul.block-editor-block-list__block li:not([class]) { position: relative; margin-bottom: 0.4em; padding: 0em 0px 0em 25px; }

.editor-styles-wrapper ul.block-editor-block-list__block li:not([class]):after { display: block; content: ''; position: absolute; top: 8px; left: 10px; width: 6px; height: 6px; background-color: #888; border-radius: 100%; }

.editor-styles-wrapper ol.block-editor-block-list__block { counter-reset: li; margin-bottom: 1.5em; }

.editor-styles-wrapper ol.block-editor-block-list__block ol { counter-reset: li2; margin-left: 0; margin-top: 1em; padding-left: .65em; }

.editor-styles-wrapper ol.block-editor-block-list__block ul { margin-top: 1em; margin-left: 0; padding-left: 4px; }

.editor-styles-wrapper ol.block-editor-block-list__block ul li::after { display: block; content: ''; position: absolute; top: 8px; left: 10px; width: 6px; height: 6px; background-color: #888; border-radius: 100%; }

.editor-styles-wrapper ol.block-editor-block-list__block li { position: relative; display: block; padding: 0px 0px 5px 25px; line-height: 1.3em; margin-bottom: 0.7em !important; }

.editor-styles-wrapper ol.block-editor-block-list__block li:after { counter-increment: li; content: counter(li); position: absolute; left: 0px; top: 1px; padding: 0px 0 0 0px; background: #aaa; height: 20px; width: 20px; color: #fff; text-align: center; font-size: 0.65em; border-radius: 12px; }

.editor-styles-wrapper ol.block-editor-block-list__block > li > ol > li:after { counter-increment: li2; content: counter(li2); }

.editor-styles-wrapper ol.block-editor-block-list__block > li > ul > li:after { counter-increment: none; content: ''; }

.editor-styles-wrapper ul.wp-block-social-links li:after { background-color: transparent !important; }

/*何かいる*/
.kaisetsu-box1 { position: relative; }

.kaisetsu-box1:before { position: absolute; content: ""; display: block; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.15; border-radius: 4px; z-index: 0; }

.kaisetsu-box1-title { position: absolute !important; display: block !important; left: 0; top: 0; color: #fff; width: 100%; padding: 12px 0; text-align: center; letter-spacing: 0px !important; border-top-left-radius: 4px; border-top-right-radius: 4px; }

@media (min-width: 768px) { .kaisetsu-box1-title { font-size: 21px; font-weight: 500; } }

@media (max-width: 767px) { .kaisetsu-box1-title { font-size: 18px; font-weight: 700; } }

.kaisetsu-box2 { position: relative; border: 1px solid #aaa; border-radius: 4px; }

@media (min-width: 768px) { .kaisetsu-box2 { padding-top: 80px !important; } }

@media (max-width: 767px) { .kaisetsu-box2 { padding-top: 70px !important; } }

.kaisetsu-box2 ol li, .kaisetsu-box2 ul li { border-bottom: 2px dashed #ccc; padding-bottom: 9px; }

.kaisetsu-box2:before { position: absolute; content: ""; display: block; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.15; border-radius: 4px; z-index: 0; }

.kaisetsu-box2-title { position: absolute; display: block; left: 0; top: 0; color: #fff; width: 100%; padding: 12px 0; text-align: center; letter-spacing: 0px !important; }

@media (min-width: 768px) { .kaisetsu-box2-title { font-size: 21px; font-weight: 500; } }

@media (max-width: 767px) { .kaisetsu-box2-title { font-size: 18px; font-weight: 700; } }

.kaisetsu-box3 { position: relative; border: 10px solid #E3B66A; background: #369377; border-radius: 1px; color: #fff !important; }

@media (min-width: 768px) { .kaisetsu-box3 { padding-top: 80px !important; } }

@media (max-width: 767px) { .kaisetsu-box3 { padding-top: 70px !important; } }

.kaisetsu-box3 ol li, .kaisetsu-box3 ul li { border-bottom: 2px solid rgba(255, 255, 255, 0.21); padding-bottom: 9px; }

.kaisetsu-box3:before { position: absolute; content: ""; right: 0; bottom: 0; width: 57px; height: 23px; background: url(img/bankeshi.png); background-size: contain; }

.kaisetsu-box3-title { position: absolute; display: block; left: 0; top: 15px; color: #fff; width: 100%; padding: 15px 0; text-align: center; font-weight: bold; letter-spacing: 0px !important; }

@media (min-width: 768px) { .kaisetsu-box3-title { font-size: 21px; font-weight: 500; } }

@media (max-width: 767px) { .kaisetsu-box3-title { font-size: 18px; font-weight: 700; } }

.kaisetsu-box4 { position: relative; border: 1px solid #aaa; border-radius: 4px; border-top-left-radius: 0; }

@media (max-width: 767px) { .kaisetsu-box4 { margin-top: 35px !important; } }

@media (min-width: 768px) { .kaisetsu-box4 { margin-top: 40px !important; } }

.kaisetsu-box4-title { position: absolute; line-height: 0; font-size: 18px; left: -1px; top: -36px; color: #fff; padding: 18px 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; letter-spacing: 0px !important; }

@media (min-width: 768px) { .kaisetsu-box4-title { font-weight: 500; } }

@media (max-width: 767px) { .kaisetsu-box4-title { font-weight: 700; } }

.kaisetsu-box5 { position: relative; border-radius: 4px; }

@media (max-width: 767px) { .kaisetsu-box5 { padding-top: 30px !important; margin-top: 20px !important; } }

@media (min-width: 768px) { .kaisetsu-box5 { padding-top: 40px !important; margin-top: 20px !important; } }

.kaisetsu-box5:before { position: absolute; content: ""; display: block; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.12; border-radius: 4px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 0; }

.kaisetsu-box5-title { position: absolute; line-height: 0; font-size: 18px; left: 20px; top: -18px; color: #fff; padding: 18px 15px; border-radius: 2px; letter-spacing: 0px !important; }

@media (min-width: 768px) { .kaisetsu-box5-title { font-weight: 500; } }

@media (max-width: 767px) { .kaisetsu-box5-title { font-weight: 700; } }

.innerlink-box1 { position: relative; padding-top: 40px !important; border: 1px solid #aaa; border-radius: 4px; background: rgba(255, 255, 255, 0); }

@media (max-width: 767px) { .innerlink-box1 { padding-top: 35px !important; margin-top: 10px !important; } }

@media (min-width: 768px) { .innerlink-box1 { margin-top: 20px !important; } }

.innerlink-box1:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.04; z-index: 0; }

.innerlink-box1-title { position: absolute; font-family: 'ヒラギノ角ゴ ProN W3', Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-seri; background: red; border: 3px solid #aaa; line-height: 0; color: #fff; border-radius: 2px; letter-spacing: 0; }

@media (min-width: 768px) { .innerlink-box1-title { top: -16px; padding: 7px 8px 7px 8px; font-size: 12px; font-weight: 500; } }

@media (max-width: 767px) { .innerlink-box1-title { top: -14px; left: 15px; padding: 10px 6px 10px 9px; font-weight: bold; font-size: 11px; } }

.innerlink-box1-title .fas { line-height: 0; color: #fff; }

.innerlink-box1-title svg, .innerlink-box1-title path { fill: #fff !important; font-size: 13px; }

.kaisetsu-box1, .kaisetsu-box2, .kaisetsu-box3, .kaisetsu-box4, .kaisetsu-box5, .kaisetsu-box6, .innerlink-box1 { padding: 0 !important; padding-bottom: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (max-width: 767px) { .kaisetsu-box1, .kaisetsu-box2, .kaisetsu-box3, .kaisetsu-box4, .kaisetsu-box5, .kaisetsu-box6, .innerlink-box1 { margin-bottom: 30px; } }

@media (min-width: 768px) { .kaisetsu-box1, .kaisetsu-box2, .kaisetsu-box3, .kaisetsu-box4, .kaisetsu-box5, .kaisetsu-box6, .innerlink-box1 { margin-bottom: 40px; width: 90%; margin-left: auto; margin-right: auto; } }

.kaisetsu-box1 P, .kaisetsu-box2 P, .kaisetsu-box3 P, .kaisetsu-box4 P, .kaisetsu-box5 P, .kaisetsu-box6 P, .innerlink-box1 P { padding-bottom: 20px; }

.kaisetsu-box1 ol, .kaisetsu-box1 ul, .kaisetsu-box2 ol, .kaisetsu-box2 ul, .kaisetsu-box3 ol, .kaisetsu-box3 ul, .kaisetsu-box4 ol, .kaisetsu-box4 ul, .kaisetsu-box5 ol, .kaisetsu-box5 ul, .kaisetsu-box6 ol, .kaisetsu-box6 ul, .innerlink-box1 ol, .innerlink-box1 ul { padding-top: 0px; padding-bottom: 30px; padding-right: 20px; margin-left: 0 !important; }

@media (max-width: 767px) { .kaisetsu-box1 ol, .kaisetsu-box1 ul, .kaisetsu-box2 ol, .kaisetsu-box2 ul, .kaisetsu-box3 ol, .kaisetsu-box3 ul, .kaisetsu-box4 ol, .kaisetsu-box4 ul, .kaisetsu-box5 ol, .kaisetsu-box5 ul, .kaisetsu-box6 ol, .kaisetsu-box6 ul, .innerlink-box1 ol, .innerlink-box1 ul { padding-left: 4px; padding-right: 4px; } }

.kaisetsu-box1 a, .kaisetsu-box2 a, .kaisetsu-box3 a, .kaisetsu-box4 a, .kaisetsu-box5 a, .kaisetsu-box6 a, .innerlink-box1 a { position: relative; z-index: 2; }

.kaisetsu-box2 ol, .kaisetsu-box2 ul, .kaisetsu-box3 ol, .kaisetsu-box3 ul, .kaisetsu-box4 ol, .kaisetsu-box4 ul, .innerlink-box1 ol, .innerlink-box1 ul { padding-top: 0px; padding-bottom: 0px; padding-right: 20px; }

.kaisetsu-box1 .editor-inner-blocks, .kaisetsu-box1 .block-editor-inner-blocks, .kaisetsu-box2 .editor-inner-blocks, .kaisetsu-box2 .block-editor-inner-blocks, .kaisetsu-box3 .editor-inner-blocks, .kaisetsu-box3 .block-editor-inner-blocks { padding-top: 80px; padding-left: 25px; padding-right: 25px; }

.kaisetsu-box5 .editor-inner-blocks, .kaisetsu-box5 .block-editor-inner-blocks, .innerlink-box1 .editor-inner-blocks, .innerlink-box1 .block-editor-inner-blocks { padding-top: 40px; padding-left: 25px; padding-right: 25px; }

.kaisetsu-box4 .editor-inner-blocks, .kaisetsu-box4 .block-editor-inner-blocks { padding-top: 30px; padding-left: 25px; padding-right: 25px; }

.jin-icons { font-size: 20px; }

.jin-iconbox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px; margin: 20px; border-radius: 5px; }

@media (min-width: 768px) { .jin-iconbox { width: 90%; margin-left: auto; margin-right: auto; } }

p + .jin-iconbox { margin-top: 0; }

img + .jin-iconbox { margin-top: 5px; }

.jin-iconbox + p, .jin-iconbox + img { padding-top: 10px; }

.jin-iconbox-icons { padding-right: 20px; }

.jin-iconbox-main { width: 100%; padding-left: 15px; font-size: 0.95rem; line-height: 1.4rem; }

.jin-ifont-checkcircle:before, .jin-ifont-caution:before { font-size: 1.4rem; line-height: 1.2rem; padding-left: 1px; padding-right: 4px; }

.jin-ifont-speaker:before { font-size: 1.8rem; line-height: 1.2rem; }

.jin-ifont-clipboard:before, .jin-ifont-like:before, .jin-ifont-comment:before, .jin-ifont-bulb:before { font-size: 1.6rem; line-height: 1.1rem; }

.jin-ifont-star:before, .jin-ifont-cart:before { font-size: 1.6rem; line-height: 1.2rem; }

.jin-ifont-unlike:before { font-size: 1.6rem; line-height: 0.9rem; }

.jin-ifont-flag:before, .jin-ifont-question:before, .jin-ifont-information:before, .jin-ifont-gear:before, .jin-ifont-heart:before, .jin-ifont-pencil:before { font-size: 1.5rem; line-height: 1.2rem; }

.yellow-iconbox { background-color: #FFF9DF; }

.green-iconbox { background-color: #e8f9e9; }

.red-iconbox { background-color: #FFF0F2; }

.blue-iconbox { background-color: #EEF0FA; }

.jin-icon-caution, .jin-icon-star, .jin-icon-bulb, .jin-icon-cart { background-color: #FFF9DF; }

.jin-icon-caution .jin-iconbox-main, .jin-icon-star .jin-iconbox-main, .jin-icon-bulb .jin-iconbox-main, .jin-icon-cart .jin-iconbox-main { border-left: 2px dashed #FFE89B; }

.jin-icon-speaker, .jin-icon-comment, .jin-icon-checkcircle, .jin-icon-pencil { background-color: #e8f9e9; }

.jin-icon-speaker .jin-iconbox-main, .jin-icon-comment .jin-iconbox-main, .jin-icon-checkcircle .jin-iconbox-main, .jin-icon-pencil .jin-iconbox-main { border-left: 2px dashed #A5EDAF; }

.jin-icon-like, .jin-icon-information, .jin-icon-gear, .jin-icon-clipboard { background-color: #EEF0FA; }

.jin-icon-like .jin-iconbox-main, .jin-icon-information .jin-iconbox-main, .jin-icon-gear .jin-iconbox-main, .jin-icon-clipboard .jin-iconbox-main { border-left: 2px dashed #D5D9F2; }

.jin-icon-heart, .jin-icon-unlike, .jin-icon-question, .jin-icon-flag { background-color: #FFF0F2; }

.jin-icon-heart .jin-iconbox-main, .jin-icon-unlike .jin-iconbox-main, .jin-icon-question .jin-iconbox-main, .jin-icon-flag .jin-iconbox-main { border-left: 2px dashed #FFD1D1; }

.yellow--border { border-left: 2px dashed #FFE89B; }

.green--border { border-left: 2px dashed #A5EDAF; }

.red--border { border-left: 2px dashed #FFD1D1; }

.blue--border { border-left: 2px dashed #D5D9F2; }

@media (max-width: 767px) { .jin-iconbox { margin: 20px 0; } }

.jin-iconbox-icons { /*グリーンアイコン*/ /*ブルーアイコン*/ /*レッドアイコン*/ }

.jin-iconbox-icons .jin-icons { vertical-align: middle; }

.jin-iconbox-icons .jin-icons:before { padding-bottom: 3px; }

.jin-iconbox-icons .jin-ifont-star.jin-icons, .jin-iconbox-icons .jin-ifont-bulb.jin-icons, .jin-iconbox-icons .jin-ifont-cart.jin-icons, .jin-iconbox-icons .jin-ifont-caution.jin-icons { color: #FFBF0E; }

.jin-iconbox-icons .jin-ifont-checkcircle.jin-icons, .jin-iconbox-icons .jin-ifont-comment.jin-icons, .jin-iconbox-icons .jin-ifont-pencil.jin-icons, .jin-iconbox-icons .jin-ifont-speaker.jin-icons { color: #05B483; }

.jin-iconbox-icons .jin-ifont-information.jin-icons, .jin-iconbox-icons .jin-ifont-gear.jin-icons, .jin-iconbox-icons .jin-ifont-clipboard.jin-icons, .jin-iconbox-icons .jin-ifont-like.jin-icons { color: #2F387C; }

.jin-iconbox-icons .jin-ifont-question.jin-icons, .jin-iconbox-icons .jin-ifont-flag.jin-icons, .jin-iconbox-icons .jin-ifont-unlike.jin-icons, .jin-iconbox-icons .jin-ifont-heart.jin-icons { color: #F13D54; }

@-webkit-keyframes jin-shiny { 0% { -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  20% { -webkit-transform: translateX(300px);
    transform: translateX(300px); }
  100% { -webkit-transform: translateX(300px);
    transform: translateX(300px); } }

@keyframes jin-shiny { 0% { -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  20% { -webkit-transform: translateX(300px);
    transform: translateX(300px); }
  100% { -webkit-transform: translateX(300px);
    transform: translateX(300px); } }

@-webkit-keyframes jin-float { 50% { -webkit-transform: scale(1.07); transform: scale(1.07); } }

@keyframes jin-float { 50% { -webkit-transform: scale(1.07); transform: scale(1.07); } }

@-webkit-keyframes jin-bound { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  5% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  12% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  18% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  24% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@keyframes jin-bound { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  5% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  12% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  18% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  24% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

.jin-flexbox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media (max-width: 767px) { .jin-flexbox a { font-weight: bold; } }

.jin-flexbox a:hover { opacity: 1; }

.jin-flexbox .jsb-visual-shiny { position: relative; }

.jin-flexbox .jsb-visual-shiny:before { content: ''; display: block; position: absolute; left: 0; top: 0; background: rgba(255, 255, 255, 0.5); width: 60px; height: 130px; opacity: .5; -webkit-filter: blur(30px); filter: blur(30px); -webkit-transform: skewX(-15deg); transform: skewX(-15deg); -webkit-animation: 3s jin-shiny ease infinite; animation: 3s jin-shiny ease infinite; }

.jin-flexbox .jsb-visual-float { -webkit-animation: 2s jin-float ease infinite; animation: 2s jin-float ease infinite; }

.jin-flexbox .jsb-visual-bound { -webkit-animation: 2s jin-bound ease infinite; animation: 2s jin-bound ease infinite; }

.jin-flexbox div:not(.jsb-visual-shiny).jsb-hover-down a, .jin-flexbox div:not(.jsb-visual-shiny).jsb-hover-up a, .jin-flexbox div:not(.jsb-visual-shiny).jsb-hover-hop a { will-change: transform; }

.jin-flexbox .jsb-hover-down a:hover { -webkit-transform: scale(0.95); transform: scale(0.95); }

.jin-flexbox .jsb-hover-up a:hover { -webkit-transform: scale(1.05); transform: scale(1.05); }

.jin-flexbox .jsb-hover-hop a:hover { -webkit-transform: translateY(-7px); transform: translateY(-7px); -webkit-box-shadow: 0px 5px 15px -5px #ddd; box-shadow: 0px 5px 15px -5px #ddd; }

.jin-shortcode-button { -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; will-change: transform; margin-left: 5px; margin-right: 5px; }

.jin-shortcode-button a { display: inline-block; font-size: 17px; margin: 20px 0; border-radius: 50px; color: #fff !important; text-decoration: none !important; -webkit-box-shadow: 0px 5px 15px -5px #ccc; box-shadow: 0px 5px 15px -5px #ccc; text-align: center; }

@media (max-width: 767px) { .jin-shortcode-button a { padding: 15px 40px; } }

@media (min-width: 768px) { .jin-shortcode-button a { padding: 15px 40px; } }

@media (min-width: 1024px) { .jin-shortcode-button a { padding: 19px 80px; } }

.jin-shortcode-button a:hover { opacity: 1 !important; -webkit-filter: opacity(1) !important; filter: opacity(1) !important; }

.gb-attention-comment { color: #e9546b; font-size: 11px; padding: 0 16px; }

.block-editor-block-list__block[data-type="jin-gb-block/simple-button"] { text-align: center; }

h2.ui-sortable-handle, h2.components-panel__body-title { background-color: none !important; }

#id_mypostdesign_title { display: none; }

.edit-post-layout__metaboxes h2, .components-panel h2 { border-color: #e2e4e7 !important; background-color: #fff !important; }

body.mceContentBody ul li:after { background-color: transparent !important; }

/*5.5〜*/
.editor-styles-wrapper { font-family: "ヒラギノ角ゴ ProN W3", Hiragino Sans, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-seri !important; font-weight: 300; }

.editor-styles-wrapper p { padding-top: 0rem !important; padding-bottom: 1.6rem !important; }

.editor-styles-wrapper .jin-iconbox .block-editor-block-list__layout p:first-of-type, .editor-styles-wrapper .jin-iconbox .block-editor-block-list__layout p:last-of-type { padding-top: 0 !important; padding-bottom: 0 !important; }

.editor-styles-wrapper .jin-iconbox-main .block-editor-block-list__layout p:not(:last-of-type) { padding-top: 0 !important; padding-bottom: 1.8rem !important; }

.h2-style01 h2.block-editor-block-list__block { background-color: #2b2b2b; color: #fff; border-radius: 2px; }

@media (max-width: 767px) { .h2-style01 h2.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 13px; padding-bottom: 12px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h2-style01 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 15px; padding-bottom: 16px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style02 h2.block-editor-block-list__block { position: relative; border-bottom: 1px solid #ddd; border-left: 5px solid #2b2b2b; }

@media (max-width: 767px) { .h2-style02 h2.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 10px 10px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h2-style02 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 15px 12px; padding-top: 16px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style02 h2.block-editor-block-list__block:before { position: absolute; content: ""; top: 0; left: 0px; width: 100%; height: 100%; background: #000; opacity: 0.05; }

.h2-style03 h2.block-editor-block-list__block { background-color: #2b2b2b; color: #fff; border-radius: 4px; position: relative; }

@media (max-width: 767px) { .h2-style03 h2.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 19px 13px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h2-style03 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 13px 15px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style03 h2.block-editor-block-list__block:before { position: absolute; content: ''; height: 1px; width: 98%; background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), color-stop(60%, rgba(255, 255, 255, 0.7)), color-stop(60%, transparent), to(transparent)); background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 60%, transparent 60%, transparent 100%); background-size: 10px 3px; top: 5px; left: 1%; z-index: 999; }

@media (max-width: 767px) { .h2-style03 h2.block-editor-block-list__block:before { width: 96%; left: 2%; } }

.h2-style03 h2.block-editor-block-list__block:after { position: absolute; content: ''; height: 1px; width: 98%; background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), color-stop(60%, rgba(255, 255, 255, 0.7)), color-stop(60%, transparent), to(transparent)); background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 60%, transparent 60%, transparent 100%); background-size: 10px 3px; bottom: 5px; left: 1%; z-index: 999; }

@media (max-width: 767px) { .h2-style03 h2.block-editor-block-list__block:after { width: 96%; left: 2%; } }

.h2-style04 h2.block-editor-block-list__block { color: #2b2b2b; position: relative; }

@media (max-width: 767px) { .h2-style04 h2.block-editor-block-list__block { font-size: 1.4rem; line-height: 1.8rem; padding: 13px 0; padding-bottom: 14px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 300; } }

@media (min-width: 768px) { .h2-style04 h2.block-editor-block-list__block { font-size: 1.8rem; line-height: 2.2rem; padding: 20px 0; padding-bottom: 21px; margin-top: 2.6rem; margin-bottom: 1.6rem; font-weight: 300; } }

.h2-style04 h2.block-editor-block-list__block:before { position: absolute; content: ''; top: 0; left: -30px; height: 100%; width: 3px; background-color: #2b2b2b; }

@media (max-width: 767px) { .h2-style04 h2.block-editor-block-list__block:before { left: -15px; } }

.h2-style05 h2.block-editor-block-list__block { position: relative; padding: 14px; background-color: #2b2b2b; color: #fff; border-bottom: none; border-radius: 6px; margin-bottom: 30px; }

@media (max-width: 767px) { .h2-style05 h2.block-editor-block-list__block { font-size: 1.2rem; } }

@media (min-width: 768px) { .h2-style05 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; } }

.h2-style05 h2.block-editor-block-list__block:before { position: absolute; bottom: -12px; left: 7%; z-index: 90; margin-left: -15px; border-top: 12px solid; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 0; border-top-color: #2b2b2b; content: ""; }

.h2-style06 h2.block-editor-block-list__block { position: relative; }

@media (max-width: 767px) { .h2-style06 h2.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 13px; padding-left: 6px; padding-bottom: 8px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h2-style06 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 15px; padding-left: 8px; padding-bottom: 10px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style06 h2.block-editor-block-list__block:before { position: absolute; content: ""; z-index: 0; bottom: 0; left: 0px; width: 100%; height: 6px; border-radius: 5px; background-image: linear-gradient(-45deg, transparent 25%, #f4e2de 25%, #f4e2de 50%, transparent 50%, transparent 75%, #f4e2de 75%, #f4e2de); background-size: 6px 6px; }

.h2-style07 h2.block-editor-block-list__block { position: relative; }

@media (max-width: 767px) { .h2-style07 h2.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 13px; padding-left: 6px; padding-bottom: 8px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h2-style07 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 15px; padding-left: 8px; padding-bottom: 10px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style07 h2.block-editor-block-list__block:before { position: absolute; content: ""; z-index: 0; bottom: 0; left: 0px; width: 100%; height: 4px; border-radius: 1px; background: #ccc; opacity: 0.5; }

.h2-style07 h2.block-editor-block-list__block:after { position: absolute; content: ""; z-index: 0; bottom: 0; left: 0px; top: auto; height: 4px; border-bottom-left-radius: 1px; border-top-left-radius: 1px; background: red; }

@media (max-width: 767px) { .h2-style07 h2.block-editor-block-list__block:after { width: 80px; } }

@media (min-width: 768px) { .h2-style07 h2.block-editor-block-list__block:after { width: 120px; } }

.h2-style08 h2.block-editor-block-list__block { position: relative; border-bottom: 2px solid #ccc; }

@media (max-width: 767px) { .h2-style08 h2.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 13px; padding-left: 24px; padding-bottom: 4px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h2-style08 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 15px; padding-left: 24px; padding-bottom: 6px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style08 h2.block-editor-block-list__block:before { content: ""; position: absolute; background: #fff; border: 1px solid; border-color: #0094c8; top: 0; left: 0.4em; height: 12px; width: 12px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

@media (max-width: 767px) { .h2-style08 h2.block-editor-block-list__block:before { top: 0; left: 0.4em; } }

.h2-style08 h2.block-editor-block-list__block:after { content: ""; position: absolute; background-color: #0094c8; top: 0.8em; left: 0.1em; height: 8px; width: 8px; -webkit-transform: rotate(15deg); transform: rotate(15deg); }

@media (max-width: 767px) { .h2-style08 h2.block-editor-block-list__block:after { top: 1em; left: 0; } }

.h2-style09 h2.block-editor-block-list__block { position: relative; border-bottom: 3px double #ccc; }

@media (max-width: 767px) { .h2-style09 h2.block-editor-block-list__block { font-size: 1.45rem; line-height: 1.8rem; padding: 13px; padding-left: 8px; padding-bottom: 4px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 700; } }

@media (min-width: 768px) { .h2-style09 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 15px; padding-left: 8px; padding-bottom: 6px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style10 h2.block-editor-block-list__block { position: relative; }

@media (max-width: 767px) { .h2-style10 h2.block-editor-block-list__block { font-size: 1.45rem; line-height: 1.8rem; padding: 13px; padding-left: 6px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 700; } }

@media (min-width: 768px) { .h2-style10 h2.block-editor-block-list__block { font-size: 1.65rem; line-height: 2rem; padding: 15px; padding-left: 8px; margin-top: 2.6rem; margin-bottom: 1.6rem; } }

.h2-style10 h2.block-editor-block-list__block:before { position: absolute; content: ""; z-index: 0; bottom: 0; left: 0px; width: 100%; height: 4px; border-radius: 4px; }

.h2-style10 h2.block-editor-block-list__block:after { position: absolute; content: ""; z-index: 0; top: 0; left: 0px; height: 4px; border-radius: 4px; width: 100%; }

.h3-style01 h3.block-editor-block-list__block { border-bottom: 3px solid #2b2b2b; }

@media (max-width: 767px) { .h3-style01 h3.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 5px 8px; padding-top: 0; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h3-style01 h3.block-editor-block-list__block { font-size: 1.5rem; line-height: 2rem; padding: 8px 15px; padding-top: 0; margin-top: 2.3rem; margin-bottom: 1.6rem; } }

.h3-style02 h3.block-editor-block-list__block { position: relative; }

@media (max-width: 767px) { .h3-style02 h3.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 8px 12px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h3-style02 h3.block-editor-block-list__block { font-size: 1.5rem; line-height: 2rem; padding: 10px 15px; margin-top: 2rem; margin-bottom: 1.6rem; } }

.h3-style02 h3.block-editor-block-list__block:before { position: absolute; content: ""; left: 0px; width: 5px; background: #000; opacity: 0.5; }

@media (max-width: 767px) { .h3-style02 h3.block-editor-block-list__block:before { top: 3px; height: 34px; } }

@media (min-width: 768px) { .h3-style02 h3.block-editor-block-list__block:before { top: 5px; height: 40px; } }

.h3-style02 h3.block-editor-block-list__block:after { position: absolute; content: ""; left: 0px; width: 5px; background: red; }

@media (max-width: 767px) { .h3-style02 h3.block-editor-block-list__block:after { top: 3px; height: 17px; } }

@media (min-width: 768px) { .h3-style02 h3.block-editor-block-list__block:after { top: 5px; height: 20px; } }

.h3-style03 h3.block-editor-block-list__block { position: relative; }

@media (max-width: 767px) { .h3-style03 h3.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 10px 15px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h3-style03 h3.block-editor-block-list__block { font-size: 1.5rem; line-height: 2rem; padding: 12px 20px; margin-top: 2.3rem; margin-bottom: 1.6rem; } }

.h3-style03 h3.block-editor-block-list__block:before { position: absolute; content: ''; width: 7px; height: 100%; left: 0; bottom: 0; background-color: #2b2b2b; border-radius: 3.5px; }

@media (max-width: 767px) { .h3-style03 h3.block-editor-block-list__block:before { width: 6px; border-radius: 3px; } }

.h3-style04 h3.block-editor-block-list__block { position: relative; border-bottom: 1px dashed #ddd; border-left: 5px solid #2b2b2b; }

@media (max-width: 767px) { .h3-style04 h3.block-editor-block-list__block { font-size: 1.2rem; line-height: 1.7rem; padding: 4px 10px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h3-style04 h3.block-editor-block-list__block { font-size: 1.5rem; line-height: 2rem; padding: 10px 15px; margin-top: 2rem; margin-bottom: 1.6rem; } }

.h3-style05 h3.block-editor-block-list__block { position: relative; border-bottom: 3px double #ddd; }

@media (max-width: 767px) { .h3-style05 h3.block-editor-block-list__block { font-size: 1.15rem; line-height: 1.55rem; padding: 4px 10px; padding-top: 6px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 600; } }

@media (min-width: 768px) { .h3-style05 h3.block-editor-block-list__block { font-size: 1.35rem; line-height: 1.85rem; padding: 6px 12px; margin-top: 2rem; margin-bottom: 1.6rem; } }

.h3-style05 h3.block-editor-block-list__block:before { position: absolute; content: ""; top: 0; left: 0px; width: 100%; height: 100%; background: #000; opacity: 0.05; }

.h3-style06 h3.block-editor-block-list__block { position: relative; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

@media (max-width: 767px) { .h3-style06 h3.block-editor-block-list__block { font-size: 1.15rem; line-height: 1.55rem; padding: 6px 10px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 700; } }

@media (min-width: 768px) { .h3-style06 h3.block-editor-block-list__block { font-size: 1.35rem; line-height: 1.85rem; padding: 8px 12px; margin-top: 2rem; margin-bottom: 1.6rem; } }

.h3-style07 h3.block-editor-block-list__block { position: relative; }

@media (max-width: 767px) { .h3-style07 h3.block-editor-block-list__block { font-size: 1.15rem; line-height: 1.55rem; padding: 8px 10px; margin-top: 1.4rem; margin-bottom: 1rem; font-weight: 700; } }

@media (min-width: 768px) { .h3-style07 h3.block-editor-block-list__block { font-size: 1.35rem; line-height: 1.85rem; padding: 8px 12px; margin-top: 2rem; margin-bottom: 1.6rem; } }

.h3-style07 h3.block-editor-block-list__block:before { position: absolute; content: ""; top: 0; left: 0px; width: 100%; height: 100%; border-radius: 2px; background: #000; opacity: 0.2; }

.h4-style01 h4.block-editor-block-list__block { border-left: 2px solid #2b2b2b; }

@media (max-width: 767px) { .h4-style01 h4.block-editor-block-list__block { font-size: 1.05rem; line-height: 1.6rem; padding: 2px 8px; margin-top: 1rem; margin-bottom: 0.8rem; font-weight: 600; } }

@media (min-width: 768px) { .h4-style01 h4.block-editor-block-list__block { font-size: 1.3rem; line-height: 1.8rem; padding: 2px 12px; margin-top: 1rem; margin-bottom: 0.8rem; } }

.h4-style02 h4.block-editor-block-list__block { position: relative; border-radius: 2px; }

@media (max-width: 767px) { .h4-style02 h4.block-editor-block-list__block { font-size: 1.1rem; line-height: 1.6rem; padding: 6px 8px; margin-top: 1rem; margin-bottom: 0.8rem; font-weight: 600; } }

@media (min-width: 768px) { .h4-style02 h4.block-editor-block-list__block { font-size: 1.3rem; line-height: 1.8rem; padding: 8px 15px; margin-top: 1rem; margin-bottom: 0.8rem; } }

.h4-style02 h4.block-editor-block-list__block:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; height: 100%; background-color: #f2f2f2; border-radius: 2px; -webkit-filter: opacity(0.1); filter: opacity(0.1); }

@media (max-width: 767px) { .h4-style03 h4.block-editor-block-list__block { font-size: 1.1rem; line-height: 1.6rem; padding: 5px 8px; margin-top: 1rem; margin-bottom: 0.8rem; font-weight: 600; border-bottom: 2px dotted #2b2b2b; } }

@media (min-width: 768px) { .h4-style03 h4.block-editor-block-list__block { font-size: 1.3rem; line-height: 1.8rem; padding: 8px 15px; margin-top: 1rem; margin-bottom: 0.8rem; border-bottom: 4px dotted #2b2b2b; } }

.h4-style04 h4.block-editor-block-list__block { background-color: #f2f2f2; border-radius: 2px; }

@media (max-width: 767px) { .h4-style04 h4.block-editor-block-list__block { font-size: 1.1rem; line-height: 1.6rem; padding: 6px 8px; margin-top: 1rem; margin-bottom: 0.8rem; font-weight: 600; } }

@media (min-width: 768px) { .h4-style04 h4.block-editor-block-list__block { font-size: 1.3rem; line-height: 1.8rem; padding: 8px 15px; margin-top: 1rem; margin-bottom: 0.8rem; } }

#poststuff .inside { margin: 4px 0 0 0; }

.postbox .inside { font-size: 12px; }

.edit-post-meta-boxes-area #poststuff h2.hndle { border-bottom: none; }

.edit-post-meta-boxes-area .postbox > .inside { padding: 0 14px 24px; }

input[type=checkbox] { margin: -.1rem .25rem 0 0; }

.handle-actions button:not(:last-of-type) { display: none; }

.block-editor-url-input__suggestions { display: block; }

.block-editor-url-input__suggestions .components-button { height: auto; }

/*embedの表示をブログカードのように整形 .wp-block-embed{ blockquote{ display: none; } }*/
